<% layout('layout') -%>
<% block('css').append('<link rel="stylesheet" type="text/css" href="css/stylesheets/home.css">') %>

<div class="time">Time</div>

<h2 class="title">MySkype</h2>

<h3 class="sub-title">Mon compte</h3>
<hr>



<h3 class="sub-title">Mes contacts</h3>
<hr>